body {
  padding: 0;
  margin: 0;
}

/*NavBar*/
.logoNav {
  display: inline-block;
  text-align: left;
  width: 20%;
}

.nonLogoNav {
  display: inline-block;
  text-align: right;
  width: 80%;
}

/*Landing*/
.landing {
  text-align: center;
}

/*Footer*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: rgb(19, 19, 19);
}